<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <div class="mb-3">
        <h2><%= post.title %></h2>
        <p><%= post.description %></p>
        <!-- Edit Image -->
        <img class="img-fluid" src="<%= post.image%>" />
        <div class="row justify-content-end">
          <h3 class="col-3">Likes: <%= post.likes %></h3>
        </div>
        <ul>
          <% for(let i=0; i<comments.length; i++) {%>
            <li class="col-6 justify-content-between mt-5">
              <% for(let n=0; n<users.length; n++) { %>
                <% console.log(`${users[n]._id} - ${comments[i].user}`) %>
                <% if(String(users[n]._id) === String(comments[i].user)) { %>
                  <p><%= users[n].userName %></p>
                <% } %>
              <%} %>      
              <p>
                <%= comments[i].comment %>
              </p>
            </li>
          <% } %>
        </ul>
            <div class="col-6 mt-5">
              <a class="btn btn-primary" href="/profile">Return to Profile</a>
              <a class="btn btn-primary" href="/feed">Return to Feed</a>
            </div>
          </div>
        </div>
    
        <div class="col-6">
          <div class="row justify-content-end">          
            <%if(post.user == user.id){ %>
              <form
              class="col-1"
                action="/post/deletePost/<%= post.id %>?_method=DELETE"
                method="POST"
                class="col-1"
              >
                <button class="btn btn-primary fa fa-trash" type="submit"></button>
              </form>
              <%}%>
          </div>
          <!-- Post Details -->
          <div class="mb-3">
            <h3>Details</h3>
            <span>by <%= postAuthor %></span>

            <!-- Edit Post Details-->            
            <form 
            action="/post/editPost/editPostDetails/<%= post._id %>?_method=PUT" 
            method="POST"
            >
            <table>
              <tr>
                <td><label for="editTitle" class="form-label">Title</label></td>
                <td><input type="text" class="form-control" id="editTitle" name="editTitle" value="<%=post.title %>"></td>
              </tr>
              <tr>
                <td><label for="editDescription" class="form-label">Description</label></td>
                <td><textarea class="form-control" id="editDescription" name="editDescription"><%=post.description%></textarea></td>
              </tr>
              <tr>
                <td><label for="editCraft" class="form-label">Craft</label></td>
                <td><input type="text" class="form-control" id="editCraft" name="editCraft" value="<%= post.craft %>"></td>
              </tr>          
              <tr>
                <td><label for="editYarnWeight" class="form-label">Yarn Weight</label></td>
                <td><input type="text" class="form-control" id="editYarnWeight" name="editYarnWeight" value="<%= post.yarnWeight %>"></td>
              </tr>
              <tr>
                <td><label for="editNeedleSize" class="form-label">Needle Size</label></td>
                <td><input type="text" class="form-control" id="editNeedleSize" name="editNeedleSize" value="<%= post.needleSize %>"></td>
              </tr>
              <tr>
                <td><label for="editGauge" class="form-label">Gauge</label></td>
                <td><input type="text" class="form-control" id="editGauge" name="editGauge" value="<%= post.gauge %>"></td>
              </tr>
              <tr>
                <td><label for="editYardage" class="form-label">Yardage</label></td>
                <td><input type="text" class="form-control" id="editYardage" name="editYardage" value="<%= post.yardage %>"></td>
              </tr>
              <tr>
                <td><label for="editYarn" class="form-label">Yarn</label></td>
                <td><input type="text" class="form-control" id="editYarn" name="editYarn" value="<%= post.yarn %>"></td>
              </tr>          
              <tr>
                <td><label for="editCategory" class="form-label">Category</label></td>
                <td><input type="text" class="form-control" id="editCategory" name="editCategory" value="<%= post.category %>"></td>
              </tr>
              <tr>
                <td><label for="editSize" class="form-label">Size</label></td>
                <td><input type="text" class="form-control" id="editSize" name="editSize" value="<%= post.size %>"></td>            
              </tr>
              <tr>
                <td><label for="editOrigin" class="form-label">Origin</label></td>
                <td><input type="text" class="form-control" id="editOrigin" name="editOrigin" value="<%= post.origin %>"></td>           
              </tr>
              <tr>
                <td>Created At</td>
                <td><%= post.createdAt %></td>
              </tr>              
            </table>
            <div class="col-6 mt-5">
              <button class="btn btn-primary" type="submit">Save Changes</button>
              <a class="btn btn-primary" href="/post/<%= post._id %>">Return to Post</a>
            </div>
          </form>
        </div>      
      </div>      
    </div>
</div>

<%- include('partials/footer') -%>
